@use "./variables.scss";
@use "./duration.scss";
@use "./timer.scss";
@use "./growing_input.scss";
@use "./pages/home.scss";
@use "./icon.scss";
@use "./progress.scss";
@use "./duration_updater.scss";
@use "./mixins.scss";

:root {
    background: var(--bg);
    color: var(--clr-text);

    font-family: Inter, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    // from https://utopia.fyi/type/calculator/?c=320,12,1.2,1080,20,1.333,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12
    // can set everything else based on rem/em, don't need the others.
    // also like the relative scale better with rem/ems instead of the given scales.
    font-size: var(--font-size-vp);
    line-height: 1.5;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body,
.page {
    height: 100dvh;
    overflow: hidden;
}

input,
button {
    font: inherit;
    color: inherit;

    border: none;
    background-color: transparent;
    outline: transparent;

    &:focus-visible {
        outline: var(--outline);
        outline-offset: 2px;
    }
}

button {
    display: inline-grid;
    place-content: center;
}

// scrollbars //

::-webkit-scrollbar {
    width: var(--scrollbar-size);
    height: var(--scrollbar-size);
}

::-webkit-scrollbar-thumb {
    background: var(--clr-neutral-200);
    border-radius: var(--scrollbar-size);

    transition: background-color var(--time-transition-short);

    &:hover {
        background: var(--clr-neutral-100);
    }

    &:active {
        background: var(--clr-neutral-50);
    }
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

// main layout //

.page {
    display: grid;
    grid-template-rows: 1fr 3rem;
}

/// Element that provides contexts (position, z-index, fixed pos).
/// Takes up the viewport space excl. navbar
.context {
    position: relative;
    overflow: hidden;
    isolation: isolate;
    height: calc(100dvh - 3rem);

    // make fixed position elements relative to this
    transform: translate(0);

    /// Element that provides scrolling.
    /// Takes up the viewport space excl. navbar
    .scroller {
        overflow-y: auto;
        position: relative;
        height: 100%;
    }

    /// Element inside the scroller that takes up however much it needs,
    /// filling or overflowing the scroller
    main {
        position: relative;
        min-height: 100%;
        display: grid;
    }

    /// elements used to figure out whether there is stuff to scroll to
    /// relative to the context element
    .intersection-edge {
        position: absolute;
        inset-inline: 0;
        height: 5px;
        pointer-events: none;

        &[data-edge="top"] {
            top: 0;
        }

        &[data-edge="bottom"] {
            bottom: 0;
        }
    }

    /// Shadows that show if there is overflow in that direction
    .scroll-shadow {
        --_shadow-clr: rgba(0 0 0 / 0.5);

        position: fixed;
        inset-inline: 0;
        height: 1rem;

        z-index: 1;

        transition: opacity var(--time-transition);
        pointer-events: none;

        &[data-edge="top"] {
            top: 0;
            background: linear-gradient(var(--_shadow-clr), transparent);
        }

        &[data-edge="bottom"] {
            bottom: 0;
            background: linear-gradient(transparent, var(--_shadow-clr));
        }
    }
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
    background-color: var(--clr-neutral-600);

    .add,
    .remove {
        height: 1lh;
        aspect-ratio: 3;
        border-radius: 1lh;
    }
}
